In [1]:
import pandas as pd

## Data: How is the .csv organized?

For each .csv file the following apply:
* each row represents the data of a single vehicle
* the first 10 columns in the 1st row include the columns’ names
* the first 4 columns include information about the trajectory like the unique trackID, the type of vehicle, the distance traveled in meters and the average speed of the vehicle in km/h
* the last 6 columns are then repeated every 6 columns based on the time frequency. For example, column_5 contains the latitude of the vehicle at time column_10, and column­­­_11 contains the latitude of the vehicle at time column_16.
* Speed is in km/h, Longitudinal and Lateral Acceleration in m/sec2 and time in seconds.

The error is caused by the fact that rows do **not** have equal number of columns.

In [1]:
with open("../data/data.csv", 'r') as file:
    lines = file.readlines()

In [2]:
print(f"The number of rows/lines is {len(lines)}")

The number of rows/lines is 923

In [3]:
print(lines[0]) # column names
print(lines[0].strip('\n').strip().strip(';').split(';')) # columns names as a list

track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time

['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [4]:
lines_as_lists = [line.strip('\n').strip().strip(';').split(';') for line in lines]
len(lines_as_lists)

923

In [5]:
lines_as_lists[0]

['track_id',
 ' type',
 ' traveled_d',
 ' avg_speed',
 ' lat',
 ' lon',
 ' speed',
 ' lon_acc',
 ' lat_acc',
 ' time']

In [6]:
print(f"the number of fields in row 1 is {len(lines_as_lists[1])}, row 2 is {len(lines_as_lists[2])}")

the number of fields in row 1 is 2710, row 2 is 2680

The number of fields in each row is = 4 + 6 * n

* The first 4 unique values are: track_id; type; traveled_d; avg_speed
* The remaining fields are repeated sequences of: 
  * lat_1; lon_1; speed_1; lon_acc_1; lat_acc_1; time_1
  * lat_2; lon_2; speed_2; lon_acc_2; lat_acc_2; time_2
  * ...
  * lat_n; lon_n; speed_n; lon_acc_n; lat_acc_n; time_n

* n depends on the time frequency. It is different for each row.

In [7]:
no_field_max = 0

for row in lines_as_lists:
    if len(row) > no_field_max:
        no_field_max = len(row)

print(f"the maximum number of fields is {no_field_max}")
largest_n = int((no_field_max-4)/6)
print(f"the largest n = {largest_n}")

the maximum number of fields is 122830
the largest n = 20471

We can divide each row into 2 parts:
1.  A list of the first 4 values. 
    - These will correspond to ['track_id', ' type', ' traveled_d', ' avg_speed']
2.  A matrix of size 6*n of the remaining values. 
    - These will correspond to a table with columns [' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time'] and n rows.
    - We will append the 'track_id' value to each row to keep track of the vehicle identity.

In [8]:
cols = lines_as_lists.pop(0)

In [9]:
cols

['track_id',
 ' type',
 ' traveled_d',
 ' avg_speed',
 ' lat',
 ' lon',
 ' speed',
 ' lon_acc',
 ' lat_acc',
 ' time']

In [10]:
track_cols = cols[:4]
trajectory_cols = ['track_id'] + cols[4:]

print(track_cols)
print(trajectory_cols)

['track_id', ' type', ' traveled_d', ' avg_speed']
['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [11]:
track_info = []
trajectory_info = []

for row in lines_as_lists:
    track_id = row[0]

    # add the first 4 values to track_info
    track_info.append(row[:4]) 

    remaining_values = row[4:]
    # reshape the list into a matrix and add track_id
    trajectory_matrix = [ [track_id] + remaining_values[i:i+6] for i in range(0,len(remaining_values),6)]
    # add the matrix rows to trajectory_info
    trajectory_info = trajectory_info + trajectory_matrix

In [12]:
track_info[0]

['1', ' Car', ' 48.85', ' 9.770344']

In [13]:
import pandas as pd 

df_track = pd.DataFrame(data= track_info,columns=track_cols)
df_track.columns = df_track.columns.str.strip()

In [15]:
df_track
df_track.to_csv('track_information.csv', index=False)

In [14]:
df_trajectory = pd.DataFrame(data= trajectory_info,columns=trajectory_cols)
df_trajectory.columns = df_trajectory.columns.str.strip()

In [21]:
df_trajectory.head()

  track_id         lat         lon    speed   lon_acc   lat_acc       time
0        1   37.977391   23.737688   4.9178    0.0518   -0.0299   0.000000
1        1   37.977391   23.737688   4.9207   -0.0124   -0.0354   0.040000
2        1   37.977391   23.737688   4.9160   -0.0519   -0.0413   0.080000
3        1   37.977390   23.737688   4.9057   -0.0914   -0.0478   0.120000
4        1   37.977390   23.737689   4.8871   -0.1679   -0.0550   0.160000

In [6]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.9-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [15]:
from sqlalchemy import create_engine
import pandas as pd
"""
a function that connect to the local database
"""
def create_conn():
    engine = None
    try:
        # Create an engine that connects to PostgreSQL server
        engine = create_engine('postgresql://postgres:new_password@localhost:5432/data_ware_house')
        print("Connection successful")
    except Exception as error:
        print(error)

    return engine

"""
a function that that accept engine, and table_name as an argument and return pandas data fream
"""
def fetch_data(engine, table_name):
    df = None
    try:
        # Execute a query and fetch all the rows into a DataFrame
        df = pd.read_sql_query(f"SELECT * FROM {table_name};", engine)
    except Exception as error:
        print(error)

    return df

def load_data_to_db(df, table_name, engine):
    try:
        df.to_sql(table_name, engine, if_exists='append', index=False)
        print(f"Data loaded to {table_name} successfully.")
    except Exception as error:
        print(error)

In [16]:
conn = create_conn()

Connection successful

In [38]:
load_data_to_db(df_track, "traffic_information", conn )

Data loaded to traffic_information successfully.

In [17]:
load_data_to_db(df_trajectory, "trajectory_information", conn )

Data loaded to trajectory_information successfully.

In [ ]:
load_data_to_db(df_track, "traffic_track", conn )

(psycopg2.errors.UndefinedColumn) column " type" of relation "traffic_track" does not exist
LINE 1: INSERT INTO traffic_track (track_id, " type", " traveled_d",...
                                             ^

[SQL: INSERT INTO traffic_track (track_id, " type", " traveled_d", " avg_speed") VALUES (%(track_id__0)s, %(_type__0)s, %(_traveled_d__0)s, %(_avg_speed__0)s), (%(track_id__1)s, %(_type__1)s, %(_traveled_d__1)s, %(_avg_speed__1)s), (%(track_id__2)s, %(_typ ... 73050 characters truncated ... %(_avg_speed__920)s), (%(track_id__921)s, %(_type__921)s, %(_traveled_d__921)s, %(_avg_speed__921)s)]
[parameters: {'_traveled_d__0': ' 48.85', '_avg_speed__0': ' 9.770344', '_type__0': ' Car', 'track_id__0': '1', '_traveled_d__1': ' 98.09', '_avg_speed__1': ' 19.839417', '_type__1': ' Motorcycle', 'track_id__1': '2', '_traveled_d__2': ' 63.80', '_avg_speed__2': ' 18.228752', '_type__2': ' Motorcycle', 'track_id__2': '3', '_traveled_d__3': ' 145.72', '_avg_speed__3': ' 26.229014', '_type__3': ' Motorcycle', 'track_id__3': '4', '_traveled_d__4': ' 138.01', '_avg_speed__4': ' 24.841425', '_type__4': ' Motorcycle', 'track_id__4': '5', '_traveled_d__5': ' 159.97', '_avg_speed__5': ' 17.451502', '_type__5': ' Medium Vehicle', 'track_id__5': '6', '_traveled_d__6': ' 153.91', '_avg_speed__6': ' 22.895895', '_type__6': ' Motorcycle', 'track_id__6': '7', '_traveled_d__7': ' 158.21', '_avg_speed__7': ' 21.739084', '_type__7': ' Car', 'track_id__7': '8', '_traveled_d__8': ' 161.01', '_avg_speed__8': ' 21.154471', '_type__8': ' Car', 'track_id__8': '9', '_traveled_d__9': ' 159.53', '_avg_speed__9': ' 18.891989', '_type__9': ' Car', 'track_id__9': '10', '_traveled_d__10': ' 182.51', '_avg_speed__10': ' 18.251311', '_type__10': ' Car', 'track_id__10': '11', '_traveled_d__11': ' 158.41', '_avg_speed__11': ' 22.104237', '_type__11': ' Motorcycle', 'track_id__11': '12', '_traveled_d__12': ' 150.20', '_avg_speed__12': ' 23.925733' ... 3588 parameters truncated ... '_type__909': ' Motorcycle', 'track_id__909': '910', '_traveled_d__910': ' 94.90', '_avg_speed__910': ' 28.470766', '_type__910': ' Car', 'track_id__910': '911', '_traveled_d__911': ' 61.25', '_avg_speed__911': ' 20.045964', '_type__911': ' Medium Vehicle', 'track_id__911': '912', '_traveled_d__912': ' 103.15', '_avg_speed__912': ' 34.382062', '_type__912': ' Car', 'track_id__912': '913', '_traveled_d__913': ' 85.62', '_avg_speed__913': ' 29.078771', '_type__913': ' Car', 'track_id__913': '914', '_traveled_d__914': ' 28.45', '_avg_speed__914': ' 10.241356', '_type__914': ' Car', 'track_id__914': '915', '_traveled_d__915': ' 81.18', '_avg_speed__915': ' 30.441531', '_type__915': ' Car', 'track_id__915': '916', '_traveled_d__916': ' 36.92', '_avg_speed__916': ' 14.445338', '_type__916': ' Car', 'track_id__916': '917', '_traveled_d__917': ' 78.83', '_avg_speed__917': ' 30.846243', '_type__917': ' Car', 'track_id__917': '918', '_traveled_d__918': ' 19.50', '_avg_speed__918': ' 9.234518', '_type__918': ' Motorcycle', 'track_id__918': '919', '_traveled_d__919': ' 48.97', '_avg_speed__919': ' 24.486209', '_type__919': ' Car', 'track_id__919': '920', '_traveled_d__920': ' 46.68', '_avg_speed__920': ' 30.007124', '_type__920': ' Motorcycle', 'track_id__920': '921', '_traveled_d__921': ' 35.00', '_avg_speed__921': ' 23.335533', '_type__921': ' Car', 'track_id__921': '922'}]
(Background on this error at: https://sqlalche.me/e/20/f405)